@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/brands.min.css');

html {
  scroll-behavior: smooth;
}
/*header start*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #023c99;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

headera {
    padding: 1rem;
    background-color: #023c99;
    position: fixed;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0px;
    padding-top: 87px;
}

.title {
    margin: 0px;
}

.title img{
    display: block;
    width:100%;
    object-fit: cover;
    object-position: 0 50%;
    filter: brightness(0.5);
}

.titlere img{
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 50%;
    filter: brightness(0.5);
}

.centered {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1140px){
.centered {
  font-size: 30px;
}
.title img{
    height: 450px;
}
}
@media screen and (min-width: 576px) and (max-width: 1140px){
.centered {
  text-align: center;
  font-size: 25px;
}
.title img{
    height: 450px;
}
}
@media screen and (min-width: 320px) and (max-width: 576px) {
.centered {
  text-align: center;
  font-size: 20px;
}
.title img{
    height: 450px;
}
}
@media screen and (max-width: 320px) {
.title img{
    height: 300px;
}
}
/*Nav Start*/
nav {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}

nav ul{
	display: flex;
	flex-direction: row;
}

nav li .navbar{
	color:#fafafa;
  	font-size: 16px;
}

nav a:hover {
	color: #c5dafc;
}

nav a:visited {
	color: #fafafa;
	text-decoration: none;
}

.navbar-toggler {
    border: 0 none;
    background-color: #476ED9;
    color: #fff;
    width: 2rem;
    height: 2rem;
    flex: 0 0 2rem;
    max-width: 2rem;
    font-size: 1rem;
    line-height: 1em;
    cursor: pointer;
}

.navbar {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}

.navbar.open {
    display: block;
}

.navbar,
.navbar ul,
.navbar li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a:link, 
.navbar a:active,
.navbar a:visited {
    font-family: 'Montserrat', sans-serif;
    display: block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #fafafa;
}

.navbar a:hover {
    color: #c5dafc;
}

.navbar .dropdown > a:after {
    content: "\f0d8";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    position: absolute;
    right: 0;
}

.navbar .dropdown.open > a:after {
    content: "\f0d7";
}

.navbar .dropdown ul {
    display: none;
}

.navbar .dropdown.open ul {
    display: block;
}

.navbar .dropdown ul a:link,
.navbar .dropdown ul a:active,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul a:visited {
    background-color: #476ED9;
    color: white;
}

.navbar .dropdown ul a:hover {
    background-color: #7B9EFD;
}

@media screen and (min-width: 1024px){
    .navbar.open {
        margin-top: 1rem;
        display: block;
    }

    .navbar-brand img{
        margin-top: .2rem;
        max-width: 500px;
    }

    .navbar-brand{
        flex: 0 0 180px;
        max-width: 180px;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar {
        margin-top: 1rem;
        display: block;
        /*flex: 0 1 calc(100% - 220px);
        max-width: calc(100% - 220px);*/
        text-align: right;
    }

    .navbar > li{
        display: inline-block;
    }

    .navbar .dropdown ul {
        position: absolute;
        z-index: 1;
        width: 200px;
        text-align: left;
    }
}

@media screen and (min-width: 576px) and (max-width: 1024px){
    .navbar-brand img{
        margin-top: .2rem;
        max-width: 400px;
    }

    .navbar-toggler {
        margin-top: 1.4rem;
    }

    .navbar,
    .navbar ul,
    .navbar li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center; 
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand img{
        margin-top: .2rem;
        max-width: 300px;
    }

    .navbar-toggler {
        margin-top: .8rem;
    }

    .navbar,
    .navbar ul,
    .navbar li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
/*Nav end*/
/*header end*/

/*Home start*/
/* Carousel Images */

.carousel {
position: relative;
width: 100%;
height: 450px;
overflow: hidden;
}

.carousel img {
position: absolute;
top: 0;
left: 0;
width:100%;
height: 100%;
opacity: 0;
transition: opacity 1s ease-in-out;
object-fit: cover;
/*filter: blur(2px); 
filter: brightness(0.5);  Added */
} 

.carousel img.active {
opacity: 1; 
}

.carousel-text {
font-family: "Potta One", system-ui;
font-weight: 400;
font-style: normal;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-align: center;
z-index: 1;
width: 95%;
}

.carousel-noscript {
position: relative;
width: 100%;
height: 700px;
overflow: hidden;
}

.carousel-noscript img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 1;
object-fit: cover;
}

.carousel-static {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
}

.carousel-static img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

@media screen and (min-width: 1024px){
  .carousel-text {
	font-size: 3rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px){
  .carousel-text {
	font-size: 2rem;
  }
  .carousel-noscript {
	object-position: 50% 35%
  }
}
@media screen and (max-width: 576px) {
  .carousel-text {
	font-size: 1rem;
  }
  .carousel-noscript {
	object-position: 50% 35%
  }
}
/*carosel end*/

.hc {
    background-color: #388277;
}

.hc h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#dfebe9;
}

.hc p {
    color:#dfebe9;
    font-family: 'Montserrat', sans-serif;
}

.hc li {
    color:#dfebe9;
}

.hc ul {
    color:#dfebe9;
}
.AContent {
    text-align: center;
}
.AContent img{
    justify-content: center;
    align-items: center;
  }
.ProjectPrev {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow: hidden;
    /*margin-left: -1rem;
    margin-right: -1rem;*/
}
.ProjectPrev a {
     display: block;
}
.ProjectPrev img{
    height: 200px;
    object-position: 0 50%;
    transition: 0.4s;
}
.ProjectPrev img:hover{
    transform: scale(1.1)
}
.WebsitesH {
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
}
.WebsitesH img{
    width: 100%;
    object-fit: cover;
}
.MusicC {
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
}
.MusicC img{
    width: 100%;
    object-fit: cover;
}
@media screen and (min-width: 1440px){
  .AContent {
   padding-bottom: 75px; 
  }
  .AContent img{
    height: 330px;
  }
  .hc {
    padding-top: 70px;
  }
  .hc h1 {
    font-size: 30px;
  }
  .hc p {
    font-size: 20px;
  }
  .abou{
    padding-left: 50px;
    /*padding-left: 90px;
    padding-top: 75px;*/
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
  .AContent {
   padding-bottom: 20px; 
  }
  .AContent img{
    margin-top: 16%;
    height: 220px;
  }
  .hc h1 {
    font-size: 30px;
  }
  .hc p {
    font-size: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1023px){
  .AContent {
   padding-bottom: 20px; 
  }
  .AContent img{
    height: 250px;
  }
  .hc h1 {
    font-size: 30px;
  }
  .hc p {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .AContent {
   padding-bottom: 20px; 
  }
  .AContent img{
    height: 150px;
  }
  .hc h1 {
    font-size: 30px;
  }
  .hc p {
    font-size: 15px;
  }
}
/*Home end*/

/*Website Project start*/
.wss {
    background-color: #388277;
    padding-top: 50px;
    padding-bottom: 50px;
}
.wss h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#dfebe9;
}
.wss p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#dfebe9;
}
.wss img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    transition: 0.4s;
}
.wss img:hover{
    transform: scale(1.1)
}

@media screen and (min-width: 1440px){
.rightweb {
    padding-right: 20%;
    padding-top: 15%;
}
.rightweb p{
    font-size: 20px;
}
.leftweb {
    padding-left: 20%;
    padding-top: 5%;
}
.leftweb p{
    font-size: 20px;
}
.wss img {
    height: 400px;
}
.CCHW {
    padding-top: 100px;
    padding-bottom: 100px;
}
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
.rightweb {
    padding-right: 20%;
}
.rightweb p{
    font-size: 14px;
}
.leftweb {
    padding-left: 20%;
}
.leftweb p{
    font-size: 14px;
}
.wss img {
    height: 250px;
}
.CCHW {
    padding-top: 100px;
    padding-bottom: 100px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
.rightweb p{
    font-size: 15px;
}
.leftweb p{
    font-size: 15px;
}
.wss img {
    height: 300px;
}
.od1{
    order: 2;
}
.CCHW {
    padding-top: 50px;
    padding-bottom: 50px;
}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
.rightweb p{
    font-size: 15px;
}
.leftweb p{
    font-size: 15px;
}
.wss img {
    height: 150px;
}
.od1{
    order: 2;
}
.CCHW {
    padding-top: 10px;
    padding-bottom: 10px;
}
}
@media screen and (min-width: 320px) and (max-width: 576px) {
.wss img {
    height: 100px;
}
}
/*Website Project end*/

/*Music Project start*/
.mpj {
    background-color: #388277;
}

.mpj h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #dfebe9;
}

.mpj p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #dfebe9;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center 
}

.top {
    margin-top: 0px;
    padding-top: 30px;
}

.OCW img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MVW {
    padding-top: 30px;
    padding-bottom: 30px;
}

.vidfr {
    display: flex;
    height: 50vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 1440px){
  .vidfr {
    width: 90vw;
  }
  .OCW img {
    height: 520px;
    width:400px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
  .vidfr {
    width: 90vw;
  }
  .OCW img {
    height: 400px;
  }
  .mjp p{
    padding-top: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1023px){
  .OCW img {
    width:300px;
  }
}
@media screen and (max-width: 576px) {
  .OCW img {
    width:200px;
  }
}
/*Music Project end*/

/*Resume start*/
.whhh {
    background-color: #388277;
}
.whhh h2{
    color: #dfebe9;
}
.whhh p{
    color: #dfebe9;
}
.GCPTW {
    background-color: #388277;
    padding-bottom:30px;
}
.GCPTW h1{
    color: #dfebe9;
}
.GCPTW hr {
    margin:auto;
}
.GCPTW img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.DWON {
    background-color: #388277;
    padding-top: 20px;
    padding-bottom: 70px;
}
.DWON img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    transition: 0.4s;
}
.DWON img:hover{
    transform: scale(1.1)
}
.DWON h1 {
    color: #dfebe9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1024px){
.GCPTW img {
    width:600px;
}
.gutx {
    padding-right: 50px;
    font-size: 20px;
}
.GCPTW hr {
    margin-top: 0px;
}
.GCPTW {
    padding-top:70px;
}
}
@media screen and (min-width: 576px) and (max-width: 1024px){
.GCPTW img {
    width:400px;
}
.gutx {
    font-size: 15px;
}
.GCPTW h1{
    text-align: center;
}
.GCPTW h2{
    text-align: center;
}
.GCPTW p{
    text-align: center;
}
.GCPTW hr {
    margin-top: 0px;
}
}
@media screen and (max-width: 576px) {
.GCPTW img {
    width:300px;
}
.gutx {
    font-size: 15px;
}
.GCPTW h1{
    text-align: center;
}
.GCPTW h2{
    text-align: center;
}
.GCPTW p{
    text-align: center;
}
.GCPTW hr {
    margin-top: 0px;
}
}
/*Resume end*/

/*Footer*/
footer {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
}

footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:white;
}

footer img{
    width: 73.5px;
    display: flex;
    margin: auto;
}
footer .ftlo{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
}
.row h3 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
}

.ftcpyrght p{
    color: white;
    font-size: 15px;
}

.ftin p{
    text-align: right;
    font-size: 20px;
    margin-right: 30px;
}
.email{
    text-align: center;
}
.SocialMedia {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.ftnav a:link, 
.ftnav a:active,
.ftnav a:visited {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    overflow: hidden;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    color: white;
}

.ftnav a:hover {
    color: #c5dafc;
}

.ftnav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0px;
}
.Copyright{
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
}
.CContent {
    margin-top: 20px;
    margin-bottom: 20px;
}
.CContent p{
    text-align: center;
    color:white;
}
.CContent a:link, 
.CContent a:active,
.CContent a:visited {
    text-decoration: none;
    color: #fafafa;
}
.CContent a:hover {
    color: #c5dafc;
}
@media screen and (min-width: 992px) {
    .ftnav ul{
    	flex-direction: row;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .ftnav ul{
    	flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .ftnav ul{
    	flex-direction: column;
    }
}
/*Footer End*/
